@import url(common.css);
@import url(header.css);
@import url(player.css);
@import url(sidebar.css);
@import url(content.css);

#container {
	width: 100%;
	height: 100%;
}

#main {
	border-top: 50px solid rgba(0,0,0,0);
	border-bottom: 140px solid rgba(0,0,0,0);
	margin: auto;
	width: 960px;
	height: 100%;
	background: #b49a47;
}
