@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

html, body {
	margin: 0;
	height: 100%;
	background: linear-gradient(#393939, #282828);
	font-family: "Nanum Gothic", Helvetica;
	-webkit-font-smoothing: antialiased;
}

div {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a, a:visited, a:hover, a:active {
	color: inherit;
	cursor: pointer;
}
