@import url(common.css);

#header {
	position: absolute;
	height: 50px;
	width: 100%;
	background: #ecce74;
}

#header-content {
	width: 960px;
	margin: auto;
}

#header-logo {
	float: left;
	width: 150px;
	background-image: url(../images/logo.svg);
	background-repeat: no-repeat;
	background-size: 32px 32px;
	background-position: 9px 9px;
	line-height: 50px;
	padding-left: 50px;
	font-weight: 800;
}

#header-search {
	float: left;
}

::-webkit-input-placeholder {
	color: #56462a;
}

#header-search input {
	margin: 8px 0 8px 0;
	padding: 8px;
	width: 200px;
	height: 34px;
	background-color: #c0a34b;
	background-image: url(../images/search.svg);
	background-repeat: no-repeat;
	background-position: 175px center;
	background-size: 20px 20px;
}
