
#player-bar {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 140px;
	background: #1b1c1c;
	border-top: 2px solid #ebc85e;
}

#player-bar:before {
	display: block;
	width: 100%;
	background-color: #b89d49;
	content: "";
	height: 1px;
}

#player {
	position: relative;
	width: 800px;
	height: 100%;
	margin: auto;
}

#player button {
	position: absolute;
	background-color: rgba(0,0,0,0);
}

#player #player-prev {
	left: 10px;
	top: 40px;
	width: 60px;
	height: 60px;
	background-image: url(../images/prev.png);
}

#player #player-play {
	left: 70px;
	top: 32px;
	width: 75px;
	height: 75px;
	background-image: url(../images/play.png);
}

#player #player-pause {
	display: none;

	left: 70px;
	top: 32px;
	width: 75px;
	height: 75px;
	background-image: url(../images/pause.png);
}

#player #player-ff {
	left: 145px;
	top: 40px;

	width: 60px;
	height: 60px;
	background-image: url(../images/ff.png);
}

#player .player-repeat {
	width: 40px;
	height: 40px;
	background-size: 30px 30px;
	background-repeat: no-repeat;
	background-position: 5px 5px;
	right: 56px;
	top: 32px;
}

#player #player-repeat-off {
	background-image: url(../images/repeat-off.svg);
}

#player #player-repeat-all {
	display: none;
	background-image: url(../images/repeat-all.svg);
}

#player #player-repeat-one {
	display: none;
	background-image: url(../images/repeat-one.svg);
}

#player .player-shuffle {
	width: 40px;
	height: 40px;
	background-size: 30px 30px;
	background-repeat: no-repeat;
	background-position: 5px 5px;
	right: 16px;
	top: 32px;
}

#player #player-shuffle-off {
	background-image: url(../images/shuffle-off.svg);
}

#player #player-shuffle-on {
	display: none;
	background-image: url(../images/shuffle-on.svg);
}

#player #player-mute {
	width: 32px;
	height: 32px;
	right: 66px;
	top: 70px;
	background-image: url(../images/mute.png);
}

#player #player-album-art {
	position: absolute;
	width: 90px;
	height: 90px;
	left: 222px;
	top: 22px;
	background-size: 90px 90px;
	background-image: url(../images/album.jpg);
}

#player #player-data {
	position: absolute;
	width: 360px;
	height: 90px;
	left: 322px;
	top: 22px;
	color: #b89d49;
	font-weight: bold;
}

#player #player-playlist {
	font-size: 9pt;
	margin: 0;
}

#player #player-artist {
	font-size: 11pt;
	margin: 10px 0 0 0;
}

#player #player-track {
	font-size: 13pt;
	margin: 5px 0 5px 0;
}

#player #player-slider {
	font-size: 8pt;
	margin: 0;
}