
#sidebar {
	float: left;
	width: 300px;
	height: 100%;
	padding: 15px;
	border: 10px solid #b49a47;
	background-color: #ece6d1;

	overflow-x: hidden;
	overflow-y: auto;
}

#sidebar ul {
	margin: 0;
	padding: 0;
}

#sidebar li {
	list-style: none;
	padding: 0;
	height: 40px;
	line-height: 40px;
}

#sidebar li.selected {
	background: #cfb152;
}

#sidebar li.deep {
	height: 30px;
	line-height: 30px;
}

#sidebar li.deeper {
	height: 20px;
	line-height: 20px;
}

#sidebar li .L {
	display: inline-block;
	width: 16px;
	height: 40px;
	background-image: url(../images/L.png);
	background-size: 16px 16px;
	background-repeat: no-repeat;
	background-position: center center;
}

#sidebar li.deep .L {
	height: 30px;
}

#sidebar li.deeper .L {
	height: 20px;
}

#sidebar li .folder {
	display: inline-block;
	width: 40px;
	height: 40px;
	background-image: url(../images/folder.svg);
	background-size: 40px 40px;
}

#sidebar li .folder.open {
	background-image: url(../images/folder-open.svg);
}

#sidebar li.deep .folder {
	width: 30px;
	height: 30px;
	background-size: 30px 30px;
}

#sidebar li.deeper .folder {
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
}

#sidebar li .child {
	display: inline-block;
	position: relative;
	left: 5px;
	height: 40px;

	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#sidebar li.deep .child {
	height: 30px;
	font-size: 10pt;
}

#sidebar li.deeper .child {
	height: 20px;
	font-size: 9pt;
}
